<!doctype html>

<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Solar Systems</title>

    @Styles.Render("~/bundles/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

    <!-- Header
    ================================================== -->
    @Html.Partial("_Navigation")


    <!-- our team section -->
    <section id="focus" class="section teams">
        @RenderBody()
    </section>
    <!-- our team section -->


    <hr />
    <section id="chat" class="section quote">
        <div class="container">

            <div class="col-md-8 col-md-offset-2 text-center">
                <h3> SignalR Demo</h3>
            </div>
            <br />
            <div class="col-md-8 col-md-offset-2 text-center">
                <button id="showModal" class="btn btn-large">MessageBox</button>
            </div>

            <!-- The Modal -->
            <div id="theModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- The Header -->
                        <div style="color:black" class="modal-footer">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x </button>
                            <h4 class="modal-title push-left"> Welcome to the InterStellar Chat!</h4>
                        </div>
                        <!-- The Body -->
                        <div class="modal-body">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <br />
                                <br />
                                <div class="col-md-4">
                                    <input style="color:black" type="text" placeholder="Message" data-bind="value:message" />
                                    <button class="btn btn-large" data-bind="click:sendMessage"> Send </button>
                                </div>
                                <div style="color:white" class="col-md-4">
                                    <div data-bind="foreach:messages">
                                        <div data-bind="text: $data">

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                            </div>
                        </div>
                        <!-- The Footer -->
                        <div style="color:black" class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr />


    @Html.Partial("_Footer")


    <!-- Java Script ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script src="~/Scripts/knockout-3.5.0.js"></script>
    <script src="~/js/perfSurf.js"></script>

</body>
</html>
